.contenedorCarousel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel {
    width: 100%;
    max-width: 1000px;
}

.carousel__imagen {
    height: 30vh;
}

.formulario, .info{
    margin: 15px;
}

.formulario {
    text-align: start;
}

.formulario__boton {
    margin-bottom: 20px;
}