html {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
    
body, header, footer {
    margin: 0 10px;
}

body {
    min-height: calc(100vh - 100px);
    background-image: linear-gradient(110deg, #f1f1f1, #658ce0);
}

@media (min-width: 992px) {
    body, header, footer {
        margin: 0 50px;
    }
}