html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: calc(10px + 0.8vw);
}

body {
    min-height: calc(100vh - 100px);
    background-color: #658ce0;
}

footer, header {
    height: 15vh;
}

@media (min-width: 883px) {
    body, header, footer{
        margin: 0 50px;
    }
}