.tituloMiembros {
    text-align: center;
    margin-bottom: 10vh;
}

.contenedorMiembros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

.card {
    width: 40vw;
    background-color: inherit;
    text-align: center;
    border: 0;
}

.imagenCard {
    width: auto;
    height: 12vh;
    border-radius: 5px;
}

.card-title, .card-subtitle{
    background-color:rgba($color: lightgray, $alpha: 0.3);
    color: black;
}

@media (min-width:883px) {
    .card {
        width: 30vw;
        background-color: inherit;
        text-align: center;
        border: 0;
        
    }
    
    .imagenCard {
        width: auto;
        height: 12vh;
        border-radius: 5px;
    }

    .contenedorMiembros {
        gap: 60px;
    }

@media (min-width:1255px) {

    .card {
        width: 25vw;
        background-color: inherit;
        text-align: center;
        border: 0;
    }
    
    .imagenCard {
        width: 100%;
        height: 20vh;
        border-radius: 5px;
    }

    .contenedorMiembros {
        row-gap: 10vh;
        column-gap: 20vw;
    }
}

}