<header>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" >  
    <a class="navbar-brand" href="./index.html">
      AC
      <img src="./assets/images/rayo.svg" width="30" height="30" class="d-inline-block align-baseline" alt="">
      BC
    </a> 
  
    <div class="d-flex justify-content-end flex-fill" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto flex-row justify-content-evenly w-50">
        <li class="nav-item">
          <a class="nav-link " href="./miembros.html">Miembros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>
</header>